*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5;
	font-size: 1.6rem;
	font-family: "Figtree";
	color: hsl(0, 0%, 7%);
}

.container {
	height: 100vh;
	background-color: hsl(47, 88%, 63%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 38.4rem;
	height: 52.2rem;
	background-color: hsl(0, 0%, 100%);
	padding: 2.4rem;
	border-radius: 2rem;
	border: 1px solid black;
	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.card__img {
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.tag {
	font-size: 1.4rem;
	font-weight: 700;
	background-color: hsl(47, 88%, 63%);
	padding: 0.6rem 1.2rem;
	border-radius: 0.4rem;
	display: inline-block;
	margin-bottom: 1.2rem;
}

.card__date {
	font-size: 1.4rem;
	display: block;
	margin-bottom: 1.2rem;
	color: hsl(0, 0%, 42%);
}

.heading-tertiary {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	display: inline-block;
}

.heading-tertiary:hover {
	color: hsl(47, 88%, 63%);
}

.card__description {
	color: hsl(0, 0%, 42%);
	margin-bottom: 2.4rem;
}

.card__author-box {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.author-img {
	width: 3.2rem;
	aspect-ratio: 1;
}

.author-name {
	font-size: 1.4rem;
	font-weight: 700;
}
